<a href="https://colab.research.google.com/github/don05050505/don05050505/blob/main/%EB%84%98%ED%8C%8C%EC%9D%B4%ED%8C%90%EB%8B%A4%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
b = np.array([0,1,2,3,4,5,6,7,8,9,10,11])
c = b.reshape(3,4)
print(c)
d = c.reshape(-1)
print(d)
print(d[9])
b[3] = 99
print(b)
c[1,1]=100
print(c)

In [ ]:
def a_func(x):
    y = x*2 + 1
    return y

a = np.array([[0,1,2],
             [3,4,5]])
d = a_func(c)
print(c)
print(d)
print(np.average(d, axis=0))
print(np.average(d, axis=1))

In [ ]:
import matplotlib.pyplot as plt
x = np.linspace(-5,5)
y1 = 2*x
y2 = 3*x
plt.xlabel("x value")
plt.ylabel("y value")
plt.title('my graph')
plt.plot(x, y1, label='y1')
plt.plot(x, y2, label='y2', linestyle='dashed')
plt.legend()
plt.show

In [ ]:
x = np.array([1.2, 2.4, 0.0, 1.4, 1.5, 0.3, 0.7])
y = np.array([2.4, 1.4, 1.0, 0.1, 1.7, 2.0, 0.6])

plt.scatter(x, y)
plt.show()

In [ ]:
img = np.array([[0,1,2,3],
                [4,5,6,7],
                [8,9,10,11],
                [12,13,14,15]])
plt.imshow(img, 'gray')
plt.colorbar()
plt.show()

In [ ]:
import pandas as pd
import numpy as np

a = pd.Series([60, 80, 70, 50, 30], index=['korean', 'english', 'math', 'science', 'history'])
print(type(a))
print(a)

In [ ]:
import pandas as pd
import numpy as np

a = pd.Series([60, 80, 70, 50, 30], index=np.array(['korean', 'english', 'math', 'science', 'history']))
print(type(a))
print(a)
print(a[2])
print(a['math'])
b = pd.Series([20], index=['art'])
f = a.append(b)
print(f)

In [ ]:
T = True
F = False
a = pd.DataFrame([[80,60,70,T],
                  [90,80,70,T],
                  [70,60,75,T],
                  [40,60,50,F],
                  [20,30,40,F],
                  [50,20,10,F]])
a.index = ['윤아', '유은', '지아', '은혜', '승호', '규태']
a.columns = ['국어', '영어', '수학', '합격여부']
a

In [ ]:
a['합격여부'] = a['합격여부'].map({True: '합격', False: '불합격'})
a

In [ ]:
a.describe()

In [ ]:
윤아행꺼내기 = a.loc['윤아', :]
print(type(윤아꺼내기))
윤아꺼내기

In [ ]:
영어열꺼내기 = a.loc[:, '영어']
print(type(영어열꺼내기))
영어열꺼내기

In [ ]:
범위지정해꺼내기 = a.iloc[1:4, :2]
print(type(범위지정해꺼내기))
범위지정해꺼내기

In [ ]:
# 행 추가
a.loc['지니'] = pd.Series([70,80,70,T], index = ['수학', '국어', '영어', '합격여부'])
# a['합격여부'] = a['합격여부'].map({True: '합격', False: '불합격'})
a
# 밑의 지니 True를 합격으로 바꿀려면, '합격'이라 넣는 수 밖에 없음.

In [ ]:
# 열추가
a['과학'] = [80,70,60,50,60,40,80]
a

In [ ]:
# 수학 올림차순
a.sort_values(by='수학')

In [ ]:
# 수학 내림차순
a.sort_values(by='수학', ascending=False)

In [ ]:
# reshape 연습
import numpy as np

a = np.array([0,1,2,3,4,5])
a = a.reshape(2, 3)
b = np.array([[5,4,3], [2,1,0]])
c = a+b
print(c)

In [ ]:
# 3차 함수곡선 그리기 (y=x3승-12x)
x = np.linspace(-4,4)
y = x**3 - 12*x

plt.xlabel('x')
plt.ylabel('y')
plt.plot(x,y)
plt.show()